<!DOCTYPE html>
<html>
<head>
  
</head>
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {

  margin: 0 auto;
  border: 100px;
}
th, td {
  padding: 5px;
  text-align:left;
      
}
 
body {

background-color: #cccccc;
}

		
   
</style>
</head>
<body>
          
       
<table style="width:60%; height: 100vh; ">
  <tr>
    <th>Thato Mmatli<img src="../assets/Thato.png" alt="Thato" width="200" height="200"></th>
    <td colspan="2"><h1 >Summary Statement</h1><hr> <br> <p >Third year student Studying information technology(Diploma in System developement).
    Hard working and good communication skills as well as planning skills
    i am looking for a chalenging fast paced enveronment within IT industry to my creative knowledgeand develop my programming skills-set further.</p>
        
    <br>
  </td>
  </tr>
  <tr>
    <td ><Strong>Contacts:</Strong><hr></td>
    <td ><Strong>Interest:</Strong><hr><br> Sports,Fitness<br>Reading</td>
    
  </tr>
  <tr>
        <td><Strong>Address:</Strong><br>Krugersdorp <Br>80 Human Street <br>Mogale City<br></td>
        <td><i class="fa fa-graduation-cap" style="font-size:36px"></i><Strong>Educational</Strong><br> Khamane High School- 2015<br> Diploma in Information Technology. Boston City Campus -2017 to 2019</td>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      </tr>
      <tr>
            <td><Strong>Phone:</Strong><br>0634191655<br></td>
            <td><Strong>Additiona Skills</Strong>:<br>Microsoft office Access<br>HTML5<br>Microsoft  Office Words<br>Microsoft  Excel<br>Power Point<br><hr></td>
            
          </tr>
          <tr>
                <td><Strong>References</Strong><hr><br>Mbali Mhlongo - 0634191655<br></td>
                
          
                
              </tr>
            
              <tr>
                    
                    <td><Strong>Languages:</Strong><hr><br>English<br>Setswana<br></td>
                    
              
                  </tr>
                    
                
                  
</table>

</body>
</html>












